@model RatingSystem.ViewModels.RatingViewModel
@{
    ViewBag.Title = "Rating";
}

<style>
     h3 {
        font-size: 16px; 
    }
    #empname{
        font-size:14px;
    }
    #desgn{
        font-size: 10px;s
    }
    .table-bordered {
        border: 1px solid black;
    }
    .employeeimages {
        margin-top: 60px;
        padding-top: 3px;
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
    .table th, .table td {
        padding: 0.5rem 0.9375rem;
        vertical-align: top;
        border: 3px solid black;
    }
    .rating-box {
        padding-top: 0px;
        padding-bottom: 25px;
        margin-right:200px;
        border-radius: 25px;
    }

        .rating-box h3 {
            font-size: 22px;
            font-weight: 600;
        }

        .rating-box .stars {
            display: flex;
            padding: 1px;
            padding-left: 120px;
            cursor: pointer;
        }
   .stars{
       margin-right: -150px;
   }
    .stars span {
        display: inline-block;
        font-size: 48px; 
        color: gray;
        unicode-bidi: bidi-override;
        direction: rtl;
    }
    .star {
        display: inline-block;
        padding: 1px;
        cursor: pointer;
        
    }
    .rating-box .star:before {
        content: "\2605";
    }

    .rating-box .star.active {
        color: orange;
    }
        .stars span.active {
            color: #ffb851;
            transform: scale(1.2);
        }

        #Box{
            margin-top:80px;
          padding-top:3px;
            width:150px;
            border:solid 2px black;
            background-color:gainsboro;
        }
</style>
<section id="rating">
    <div class="row">
        <div class="col-md-3">
            <img style="height:100px" class="img-fluid" src="~/Content/ratingsystemtemplate/EpsaNew.jpg" />
        </div>
        <div class="col-md-9">
                    <h3 class="text-center">We Appreciate your feedback<br />(Annonymous)</h3>
        </div>

    </div>
    <br />
    <div class="container-fluid">
      
              <div class="row">

                  <div class="col-md-12">
                      <form id="actionForm">
                          
                              <input type="hidden" name="Employee" value="@Model.EmployeeFull.Name" id="Employee" />
                              <input type="hidden" name="TeamName" value="@Model.EmployeeFull.TeamName" id="TeamName" />
                              <input type="hidden" name="Address"  id="Address" />
                          
                          <div class="row">
                              <div class="col-2">
                                  <img src="@Model.EmployeeFull.Image" alt=""  class="employeeimages img-fluid"/>
                              </div>
                              <div class="col-3">
                                  <div id="Box" class="text-center">
                                      <h2>@Model.EmployeeFull.Name</h2><br />
                                      <h6>@Model.EmployeeFull.Designation</h6>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <table class="table  table-borderless">
                                      <tr>
                                          <td>
                                              <h3>Customer Service</h3>
                                          </td>
                                          <td>
                                              <div id="@Model.EmployeeFull.ID" class="rating-box">
                                                  <div id="CustomerServiceStars" class="stars">
                                                      <i class="fa-solid fa-star"></i>
                                                      <i class="fa-solid fa-star"></i>
                                                      <i class="fa-solid fa-star"></i>
                                                      <i class="fa-solid fa-star"></i>
                                                      <i class="fa-solid fa-star"></i>

                                                      <input type="hidden" name="CustomerService" id="CustomerService" />
                                                  </div>
                                              </div>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <h3>Professionalism</h3>
                                          </td>
                                          <td>
                                              <div id="ProfessionalismStars" class="rating-box">
                                                  <div class="stars">
                                                      <i class="fa-solid fa-star"></i>
                                                      <i class="fa-solid fa-star"></i>
                                                      <i class="fa-solid fa-star"></i>
                                                      <i class="fa-solid fa-star"></i>
                                                      <i class="fa-solid fa-star"></i>

                                                      <input type="hidden" name="Professionalism" id="Professionalism" />
                                                  </div>
                                              </div>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <h3> Expertise</h3>
                                          </td>
                                          <td>
                                              <div class="rating-box">
                                                  <div id="ExpertiseStars" class="stars">
                                                      <i class="fa-solid fa-star"></i>
                                                      <i class="fa-solid fa-star"></i>
                                                      <i class="fa-solid fa-star"></i>
                                                      <i class="fa-solid fa-star"></i>
                                                      <i class="fa-solid fa-star"></i>

                                                      <input type="hidden" name="Expertise" id="Expertise" />
                                                  </div>
                                              </div>
                                          </td>
                                      </tr>
                                  </table>
                              </div>
                          </div>
                          
                         
                         




                      </form>
                  </div>
              
                  

              </div>
    </div>
</section>


<script>
    $(document).ready(function () {
        getIpAddress();
    });
    $('#CustomerServiceStars span').on('click', function () {
        // Remove the active class from all stars
        $(this).siblings().removeClass('active');

        // Add the active class to the clicked star and all previous siblings
        $(this).addClass('active');
        $(this).prevAll().addClass('active');

        // Get the index of the clicked star (starting from 0)
        var index = $(this).index();
        //var containerId = $(this).closest('.rating-box').attr('id');

        // Log the selected rating
        //console.log(index + 1);
        var Rating = index + 1;

        $("#CustomerService").val(Rating);
    });
    $('#RespectStars span').on('click', function () {
        // Remove the active class from all stars
        $(this).siblings().removeClass('active');

        // Add the active class to the clicked star and all previous siblingsRespectStars
        $(this).addClass('active');
        $(this).prevAll().addClass('active');

        // Get the index of the clicked star (starting from 0)
        var index = $(this).index();
        //var containerId = $(this).closest('.rating-box').attr('id');

        // Log the selected rating
        //console.log(index + 1);
        var Rating = index + 1;

        $("#Respect").val(Rating);
    });
    $('#ExplanationStars span').on('click', function () {
        // Remove the active class from all stars
        $(this).siblings().removeClass('active');

        // Add the active class to the clicked star and all previous siblings
        $(this).addClass('active');
        $(this).prevAll().addClass('active');

        // Get the index of the clicked star (starting from 0)
        var index = $(this).index();
        //var containerId = $(this).closest('.rating-box').attr('id');

        // Log the selected rating
        //console.log(index + 1);
        var Rating = index + 1;

        $("#Explanation").val(Rating);
    });
    $('#TreatmentStars span').on('click', function () {
        // Remove the active class from all stars
        $(this).siblings().removeClass('active');

        // Add the active class to the clicked star and all previous siblings
        $(this).addClass('active');
        $(this).prevAll().addClass('active');

        // Get the index of the clicked star (starting from 0)
        var index = $(this).index();
        //var containerId = $(this).closest('.rating-box').attr('id');

        // Log the selected rating
        //console.log(index + 1);
        var Rating = index + 1;

        $("#Treatment").val(Rating);
    });
    $('#OverallStars span').on('click', function () {
        // Remove the active class from all stars
        $(this).siblings().removeClass('active');

        // Add the active class to the clicked star and all previous siblings
        $(this).addClass('active');
        $(this).prevAll().addClass('active');

        // Get the index of the clicked star (starting from 0)
        var index = $(this).index();
        //var containerId = $(this).closest('.rating-box').attr('id');

        // Log the selected rating
        //console.log(index + 1);
        var Rating = index + 1;

        $("#Overall").val(Rating);
    });
    $('#ProfessionalismStars span').on('click', function () {
        // Remove the active class from all stars
        $(this).siblings().removeClass('active');

        // Add the active class to the clicked star and all previous siblings
        $(this).addClass('active');
        $(this).prevAll().addClass('active');

        // Get the index of the clicked star (starting from 0)
        var index = $(this).index();
        //var containerId = $(this).closest('.rating-box').attr('id');

        // Log the selected rating
        //console.log(index + 1);
        var Rating = index + 1;

        $("#Professionalism").val(Rating);
    });
    $('#ExpertiseStars span').on('click', function () {
        // Remove the active class from all stars
        $(this).siblings().removeClass('active');

        // Add the active class to the clicked star and all previous siblings
        $(this).addClass('active');
        $(this).prevAll().addClass('active');

        // Get the index of the clicked star (starting from 0)
        var index = $(this).index();
        //var containerId = $(this).closest('.rating-box').attr('id');

        // Log the selected rating
        //console.log(index + 1);
        var Rating = index + 1;

        $("#Expertise").val(Rating);
    });

    function getIpAddress() {
        $.getJSON("https://api.ipify.org?format=json")
            .done(function (response) {
                var ipAddress = response.ip.toString();
                //document.getElementById("Address") = ipAddress;
                $("#Address").val(ipAddress);
                //return ipAddress;
            })
            .fail(function (error) {
                console.log("Error:", error);
            });
    }

    //var ipValue = getIpAddress();

    //var inputelement =
    //function sendIpAddress(ipAddress) {
    //    $.ajax({
    //        url: '/Home/SaveIpAddress',
    //        type: 'POST',
    //        data: { address: ipAddress },
    //        success: function (response) {
    //            alert("SAved");
    //        },
    //        error: function (error) {
    //            alert("Error");
    //        }
    //    });
    //}
    $("#actionBtn").click(function () {
       
                $.ajax({
                    url: '@Url.Action("Rating", "Home")',
                    type: "post",
                    data:$("#actionForm").serialize()
        })
            .done(function () {
                window.location.href = '@Url.Action("Thankyou","Home")';
            });
	});
</script>
