@model RatingSystem.ViewModels.AdminViewModel

@{
    ViewBag.Title = "Dashboard";
}
<div class="text-center">

    <div class="card">
        <div class="card-header">
            <div class="chart">
                <canvas id="doughnutchart"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script>

    var doughnutchartCanvas = document.getElementById("doughnutchart");

    var score = [];
     @if(Model.Value != null)
    {
        foreach(var item in Model.Value)
        {
            @:score.push(@item);
        }
    }

    var doughnutChart = new Chart(doughnutchartCanvas, {
        type: 'doughnut',
        data: {
            labels: ["5 Star", "4 Star", "3 Star", "2 Star", "1 Star"],
            datasets: [{
                data: score,
                borderWidth: 0,
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(157, 230, 41)',
                    'rgb(41, 224, 230)',
                    'rgb(255, 255, 0)'
                ],
                hoverBackgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(157, 230, 41)',
                    'rgb(41, 224, 230)',
                    'rgb(255, 255, 0)'
                ]
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: "bottom",
                labels: {
                    boxWidth: 11,
                    fontColor: "#757681",
                    fontSize: 11
                }
            }
        }
    });

</script>
<style>
    .table th, .table td {
        padding: 0.5rem 0.9375rem;
        vertical-align: top;
        border-top: 1px solid #f3f3f3;
    }

    .table th, .table td {
        padding: 0.5rem 0.215rem;
        vertical-align: top;
        border-top: 1px solid #f3f3f3;
    }

    .rating-box {
        padding: 25px 37px;
        border-radius: 25px;
        text-align: center;
    }

        .rating-box h3 {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .rating-box .stars {
            display: flex;
            align-items: center;
            gap: 5px;
            width: 0px;
        }

    .stars i {
        font-size: 20px;
        color: #b5b8b1;
        transition: all 0.2s;
        cursor: pointer;
    }

        .stars i.active {
            color: #ffb851;
            transform: scale(1.2);
        }
</style>
<div class="row">
    <div class="col-8">
        <div class="container">
            <form method="post">

                <div class="row">
                    <div class="col-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Start Date</span>
                            </div>
                            <input type="date" class="form-control" id="startDate" name="startDate">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">End Date</span>
                            </div>
                            <input type="date" class="form-control" id="enddate" name="enddate">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="input-group mb-6">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="type">Type</label>
                            </div>
                            <select class="form-select col-md-9" id="type" name="type">
                                <option value="Employee">Employee</option>
                                <option value="TeamName">Team Name</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="search_name" name="search_name" placeholder="Enter ID or Name">
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                        <a href="@Url.Action("Export","Admin")" class="btn btn-success">Export To CSV</a>
                    </div>


                </div>





            </form>
        </div>
    </div>

    <div class="col-4">
        <table class="table">
            <tr>
                <td style="width:20px;">
                    5
                    <i style="color: #F7B64B;" class="fa-solid fa-star active"></i>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: @Model.five_star.ToString()%" aria-valuenow=@Model.five_star.ToString() aria-valuemin="0" aria-valuemax="100">@Model.five_star%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:20px;">
                    4
                    <i style="color: #F7B64B;" class="fa-solid fa-star active"></i>
                </td>

                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: @Model.four_star.ToString()%" aria-valuenow=@Model.four_star.ToString() aria-valuemin="0" aria-valuemax="100">@Model.four_star%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:20px;">
                    3
                    <i style="color: #F7B64B;" class="fa-solid fa-star active"></i>
                </td>

                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: @Model.three_star.ToString()%" aria-valuenow=@Model.three_star.ToString() aria-valuemin="0" aria-valuemax="100">@Model.three_star%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:20px;">
                    2
                    <i style="color: #F7B64B;" class="fa-solid fa-star active"></i>
                </td>

                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: @Model.two_star.ToString()%" aria-valuenow=@Model.two_star.ToString() aria-valuemin="0" aria-valuemax="100">@Model.two_star%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:20px;">
                    1
                    <i style="margin-left: 4px; color: #F7B64B;" class="fa-solid fa-star active"></i>
                </td>

                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: @Model.one_star.ToString()%" aria-valuenow=@Model.one_star.ToString() aria-valuemin="0" aria-valuemax="100">@Model.one_star%</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>



<hr />


<div class="row">
    <div class="card col-md-12">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">

                                Employee
                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Statistics != null)
                        {
                            foreach (var item in Model.Statistics)
                            {
                                <tr>
                                    <td class="text-center">
                                        <img src="@item.Employee.Image" style="height:100px;width:100px;" /><br />
                                        @item.Employee.Name
                                    </td>
                                    <td>
                                        <ul>
                                            <li>
                                                <div class="row">
                                                    <div style="padding-top:20px;" class="col-3">
                                                        Customer Service:
                                                    </div>


                                                    <div class="col-9">
                                                        <div id="@item.Employee.ID" class="rating-box">
                                                            <div id="CustomerServiceStars" class="stars">
                                                                @if (item.CustomerService_star == 1)
                                                                {
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star"></i>
                                                                    <i class="fa-solid fa-star"></i>
                                                                    <i class="fa-solid fa-star"></i>
                                                                    <i class="fa-solid fa-star"></i>
                                                                }
                                                                else if (item.CustomerService_star == 2)
                                                                {
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star"></i>
                                                                    <i class="fa-solid fa-star"></i>
                                                                    <i class="fa-solid fa-star"></i>

                                                                }
                                                                else if (item.CustomerService_star == 3)
                                                                {
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star"></i>
                                                                    <i class="fa-solid fa-star"></i>

                                                                }
                                                                else if (item.CustomerService_star == 4)
                                                                {
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star"></i>

                                                                }
                                                                else if (item.CustomerService_star == 5)
                                                                {
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>

                                                                }
                                                                else if (item.professionalism_star == 0)
                                                                {
                                                                    <i class="fa-solid fa-star "></i>
                                                                    <i class="fa-solid fa-star "></i>
                                                                    <i class="fa-solid fa-star "></i>
                                                                    <i class="fa-solid fa-star "></i>
                                                                    <i class="fa-solid fa-star "></i>

                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div style="padding-top:20px;" class="col-3">
                                                        Professionalism:
                                                    </div>
                                                    <div class="col-9">
                                                        <div id="ProfessionalismStars" class="rating-box">

                                                            <div class="stars">
                                                                @if (item.professionalism_star == 1)
                                                                {
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star"></i>
                                                                    <i class="fa-solid fa-star"></i>
                                                                    <i class="fa-solid fa-star"></i>
                                                                    <i class="fa-solid fa-star"></i>

                                                                }
                                                                else if (item.professionalism_star == 2)
                                                                {
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star"></i>
                                                                    <i class="fa-solid fa-star"></i>
                                                                    <i class="fa-solid fa-star"></i>

                                                                }
                                                                else if (item.professionalism_star == 3)
                                                                {
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star"></i>
                                                                    <i class="fa-solid fa-star"></i>

                                                                }
                                                                else if (item.professionalism_star == 4)
                                                                {
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star"></i>

                                                                }
                                                                else if (item.professionalism_star == 5)
                                                                {
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>

                                                                }
                                                                else if (item.professionalism_star == 0)
                                                                {
                                                                    <i class="fa-solid fa-star "></i>
                                                                    <i class="fa-solid fa-star "></i>
                                                                    <i class="fa-solid fa-star "></i>
                                                                    <i class="fa-solid fa-star "></i>
                                                                    <i class="fa-solid fa-star "></i>

                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div style="padding-top:20px;" class="col-3">
                                                        Expertise:
                                                    </div>
                                                    <div class="col-9">
                                                        <div id="ExpertiseStars" class="rating-box">

                                                            <div class="stars">
                                                                @if (item.expertise_star == 1)
                                                                {
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star"></i>
                                                                    <i class="fa-solid fa-star"></i>
                                                                    <i class="fa-solid fa-star"></i>
                                                                    <i class="fa-solid fa-star"></i>

                                                                }
                                                                else if (item.expertise_star == 2)
                                                                {
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star"></i>
                                                                    <i class="fa-solid fa-star"></i>
                                                                    <i class="fa-solid fa-star"></i>

                                                                }
                                                                else if (item.expertise_star == 3)
                                                                {
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star"></i>
                                                                    <i class="fa-solid fa-star"></i>

                                                                }
                                                                else if (item.expertise_star == 4)
                                                                {
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star"></i>

                                                                }
                                                                else if (item.expertise_star == 5)
                                                                {
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>
                                                                    <i class="fa-solid fa-star active"></i>

                                                                }
                                                                else if (item.professionalism_star == 0)
                                                                {
                                                                    <i class="fa-solid fa-star "></i>
                                                                    <i class="fa-solid fa-star "></i>
                                                                    <i class="fa-solid fa-star "></i>
                                                                    <i class="fa-solid fa-star "></i>
                                                                    <i class="fa-solid fa-star "></i>

                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <h1 style="color:dodgerblue;padding-top:60px;">
                                            <b>
                                                @Math.Round(item.ratingAVG, 1)
                                            </b>
                                        </h1>

                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="card col-md-12">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">

                                Team Average
                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Statistics != null)
                        {
                            foreach (var item in Model.Statistics)
                            {
                                if (item == Model.Statistics[Model.Statistics.Count - 1])
                                {
                                    <tr>
                                        <td class="text-center">
                                        </td>
                                        <td>
                                            <ul>
                                                <li>
                                                    <div class="row">
                                                        <div style="padding-top:20px;" class="col-3">
                                                            Customer Service:
                                                        </div>


                                                        <div class="col-9">
                                                            <div id="@item.Employee.ID" class="rating-box">
                                                                <div id="CustomerServiceStars" class="stars">
                                                                    @if (item.CustomerService_star == 1)
                                                                    {
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star"></i>
                                                                        <i class="fa-solid fa-star"></i>
                                                                        <i class="fa-solid fa-star"></i>
                                                                        <i class="fa-solid fa-star"></i>
                                                                    }
                                                                    else if (item.CustomerService_star == 2)
                                                                    {
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star"></i>
                                                                        <i class="fa-solid fa-star"></i>
                                                                        <i class="fa-solid fa-star"></i>

                                                                    }
                                                                    else if (item.CustomerService_star == 3)
                                                                    {
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star"></i>
                                                                        <i class="fa-solid fa-star"></i>

                                                                    }
                                                                    else if (item.CustomerService_star == 4)
                                                                    {
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star"></i>

                                                                    }
                                                                    else if (item.CustomerService_star == 5)
                                                                    {
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>

                                                                    }
                                                                    else if (item.professionalism_star == 0)
                                                                    {
                                                                        <i class="fa-solid fa-star "></i>
                                                                        <i class="fa-solid fa-star "></i>
                                                                        <i class="fa-solid fa-star "></i>
                                                                        <i class="fa-solid fa-star "></i>
                                                                        <i class="fa-solid fa-star "></i>

                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>



                                                </li>
                                                <li>
                                                    <div class="row">
                                                        <div style="padding-top:20px;" class="col-3">
                                                            Professionalism:
                                                        </div>
                                                        <div class="col-9">
                                                            <div id="ProfessionalismStars" class="rating-box">

                                                                <div class="stars">
                                                                    @if (item.professionalism_star == 1)
                                                                    {
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star"></i>
                                                                        <i class="fa-solid fa-star"></i>
                                                                        <i class="fa-solid fa-star"></i>
                                                                        <i class="fa-solid fa-star"></i>

                                                                    }
                                                                    else if (item.professionalism_star == 2)
                                                                    {
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star"></i>
                                                                        <i class="fa-solid fa-star"></i>
                                                                        <i class="fa-solid fa-star"></i>

                                                                    }
                                                                    else if (item.professionalism_star == 3)
                                                                    {
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star"></i>
                                                                        <i class="fa-solid fa-star"></i>

                                                                    }
                                                                    else if (item.professionalism_star == 4)
                                                                    {
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star"></i>

                                                                    }
                                                                    else if (item.professionalism_star == 5)
                                                                    {
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>

                                                                    }
                                                                    else if (item.professionalism_star == 0)
                                                                    {
                                                                        <i class="fa-solid fa-star "></i>
                                                                        <i class="fa-solid fa-star "></i>
                                                                        <i class="fa-solid fa-star "></i>
                                                                        <i class="fa-solid fa-star "></i>
                                                                        <i class="fa-solid fa-star "></i>

                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>



                                                </li>
                                                <li>
                                                    <div class="row">
                                                        <div style="padding-top:20px;" class="col-3">
                                                            Expertise:
                                                        </div>
                                                        <div class="col-9">
                                                            <div id="ExpertiseStars" class="rating-box">

                                                                <div class="stars">
                                                                    @if (item.expertise_star == 1)
                                                                    {
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star"></i>
                                                                        <i class="fa-solid fa-star"></i>
                                                                        <i class="fa-solid fa-star"></i>
                                                                        <i class="fa-solid fa-star"></i>

                                                                    }
                                                                    else if (item.expertise_star == 2)
                                                                    {
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star"></i>
                                                                        <i class="fa-solid fa-star"></i>
                                                                        <i class="fa-solid fa-star"></i>

                                                                    }
                                                                    else if (item.expertise_star == 3)
                                                                    {
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star"></i>
                                                                        <i class="fa-solid fa-star"></i>

                                                                    }
                                                                    else if (item.expertise_star == 4)
                                                                    {
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star"></i>

                                                                    }
                                                                    else if (item.expertise_star == 5)
                                                                    {
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>
                                                                        <i class="fa-solid fa-star active"></i>

                                                                    }
                                                                    else if (item.professionalism_star == 0)
                                                                    {
                                                                        <i class="fa-solid fa-star "></i>
                                                                        <i class="fa-solid fa-star "></i>
                                                                        <i class="fa-solid fa-star "></i>
                                                                        <i class="fa-solid fa-star "></i>
                                                                        <i class="fa-solid fa-star "></i>

                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <h1 style="color:dodgerblue;padding-top:60px;">
                                                <b>
                                                    @Math.Round(item.teamAVG, 1)
                                                </b>
                                            </h1>

                                        </td>
                                    </tr>
                                }
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script>
<div class="text-center">
            <div class="card">
                <div class="card-header">
                    <div class="chart">
                        <canvas id="doughnutchart"></canvas>
                    </div>
                </div>
            </div>
</div>

<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>

<script>
            $(".data-btn").click(function () {
                $.ajax({
                    url: $(this).attr("data-href"),
                })
                    .done(function (response) {
                        $("#actionModal .modal-dialog").html(response);
                    });
            });

</script>

